<%= provide(:title, 'Home') %>

<div class="bg-light mt-5 p-5 rounded">
    <h3>Welcome to the Circlindex Site</h3>
    
    <p>
        Circlindexでは、新入生とサークルがオンライン上でマッチングできます
    </p>
    
    <%= link_to "新規登録", signup_path, class: 'btn btn-primary' %>
</div>